// 常规配色
$color1 = rgb(hexo-config('color.first.r'), hexo-config('color.first.g'), hexo-config('color.first.b'));
$color2 = rgb(hexo-config('color.second.r'), hexo-config('color.second.g'), hexo-config('color.second.b'));
$color3 = rgb(hexo-config('color.third.r'), hexo-config('color.third.g'), hexo-config('color.third.b'));
$color4 = rgb(hexo-config('color.fourth.r'), hexo-config('color.fourth.g'), hexo-config('color.fourth.b'));
$color5 = rgb(hexo-config('color.fifth.r'), hexo-config('color.fifth.g'), hexo-config('color.fifth.b'));
$color6 = rgb(hexo-config('color.sixth.r'), hexo-config('color.sixth.g'), hexo-config('color.sixth.b'));
$color7 = rgb(hexo-config('color.seventh.r'), hexo-config('color.seventh.g'), hexo-config('color.seventh.b'));
// kira-hexo-rainbow 背景配色
$krlbgc1 = rgba(hexo-config('color.first.r'), hexo-config('color.first.g'), hexo-config('color.first.b'), 0.15);
$krlbgc2 = rgba(hexo-config('color.second.r'), hexo-config('color.second.g'), hexo-config('color.second.b'), 0.15);
$krlbgc3 = rgba(hexo-config('color.third.r'), hexo-config('color.third.g'), hexo-config('color.third.b'), 0.15);
$krlbgc4 = rgba(hexo-config('color.fourth.r'), hexo-config('color.fourth.g'), hexo-config('color.fourth.b'), 0.15);
$krlbgc5 = rgba(hexo-config('color.fifth.r'), hexo-config('color.fifth.g'), hexo-config('color.fifth.b'), 0.15);
$krlbgc6 = rgba(hexo-config('color.sixth.r'), hexo-config('color.sixth.g'), hexo-config('color.sixth.b'), 0.15);
$krlbgc7 = rgba(hexo-config('color.seventh.r'), hexo-config('color.seventh.g'), hexo-config('color.seventh.b'), 0.15);
// kira-hexo-rainbow-fill 背景配色
$krdbgc1 = rgba(hexo-config('color.first.r'), hexo-config('color.first.g'), hexo-config('color.first.b'), 0.9);
$krdbgc2 = rgba(hexo-config('color.second.r'), hexo-config('color.second.g'), hexo-config('color.second.b'), 0.7);
$krdbgc3 = rgba(hexo-config('color.third.r'), hexo-config('color.third.g'), hexo-config('color.third.b'), 0.7);
$krdbgc4 = rgba(hexo-config('color.fourth.r'), hexo-config('color.fourth.g'), hexo-config('color.fourth.b'), 0.7);
$krdbgc5 = rgba(hexo-config('color.fifth.r'), hexo-config('color.fifth.g'), hexo-config('color.fifth.b'), 0.7);
$krdbgc6 = rgba(hexo-config('color.sixth.r'), hexo-config('color.sixth.g'), hexo-config('color.sixth.b'), 0.7);
$krdbgc7 = rgba(hexo-config('color.seventh.r'), hexo-config('color.seventh.g'), hexo-config('color.seventh.b'), 0.7);