<script src="/js/kira-search.js"></script>
<div class="kira-widget-wrap">
	<div id="kira-search" class="kira-widget kira-search">
        <div class="kira-search-icon">
            <i class="kirafont icon-search"></i>
        </div>
        <div class="kira-search-input">
            <input id="kira-search-input" type="text" placeholder="搜索文章">
        </div>
    </div>
</div>