.kira-archives {
	.tagcloud {
		margin-bottom: 13px;
		font-size: 0;

		a {
			border-radius: 15px;
			padding: 6px 12px;
			font-size: 15px !important;
			display: inline-block;
			margin-bottom: 7px;
			margin-right: 7px;

			&::before {
				content: '# ';
			}

			span::before {
				content: ' ';
			}
		}
	}

	.categories {
		margin-bottom: 12px;
		font-size: 0;
		display: grid;
		grid-template-columns: repeat(3, 98% / 3);
		grid-column-gap: 1%;
		grid-row-gap: 12px;

		a {
			border-radius: 12px;
			font-size: 16px;
			display: inline-block;
			height: 156px;
			width: 100%;
			position: relative;

			&:before {
				top: 0;
				left: 0;
				content: '';
				background-color: rgba(0, 0, 0, 0.4);
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 1;
			}

			.bg {
				background-size: cover;
				background-position: center center;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				position: absolute;
				opacity: 0.8;
			}

			h1 {
				margin: 20px;
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 2;
			}

			span {
				margin-top: 5px;
				display: block;

				&::after {
					content: ' Articles';
				}
			}
		}
	}

	article > * {
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
