<% if (Array.isArray(theme.friends)) { %>
<%- css("css/kira-friends") %>
<div style="display: flex; flex-wrap: wrap; width: 100%; position: relative;">
  <% theme.friends.forEach(friend => { %>
    <div class="kira-friends-friendWrapper">
      <a href="<%= friend.link %>" target="_blank" class="mdui-ripple">
        <div class="kira-friends-avatarWrapper" style="height: 65px; min-width: 65px; width: 65px;">
          <img src="<%= friend.avatar %>" class="disabled-kira-image" />
        </div>
        <div class="kira-friends-blogName" style="width: 100%;"><%= friend.name %></div>
      </a>
    </div>
  <% }) %>
</div>
<hr />
<% } %>
