<div class="kira-right-column">
	<a href="#kira-content" class="toc-link" aria-label="回到顶部" title="top">
		<button class="mdui-fab mdui-ripple">
			<i class="kirafont icon-caret-top"></i>
		</button>
	</a>
</div>
